:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;

  h2{
    font-size: 50px;
    font-weight: 700;
  }
 

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  ul{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
  }

  li {
    list-style: none;
    text-align: center;
    background-color: blue;
    padding: 5px 10px;
    font-size: 20px;
  }

  button{
    padding: 15px 30px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 30px;
  }

  button:hover{
    background-color: navy;
    color: whitesmoke;
    transition: 2s  ease;
  }
 
}

@media (prefers-color-scheme: light) {

}


